body {
	.editor-post-excerpt .components-external-link, .editor-post-excerpt .components-base-control__label, .block-editor-inserter__preview-container, #tab-panel-0-patterns, .block-editor-inserter__tips, .edit-post-post-link__preview-label, .editor-post-link p, .editor-page-attributes__order, .block-editor-post-preview__dropdown, .table-of-contents, .components-editor-notices__dismissible,.components-editor-notices__dismissible .components-notice, .components-editor-notices__pinned .components-notice, input[id^="block-editor-inserter__search-"]:placeholder-shown+.block-editor-inserter__results .components-panel__body:first-of-type, .block-editor-inserter__menu-help-panel, .bws_shortcode_button_tooltip, .mce-bws_shortcode_button, .components-toolbar-group{
		display: none !important;
	}
	.edit-post-post-status {
		.components-panel__row {
			min-height: 0;
		}
		.e1puf3u0 {
			display: none !important;
		}
	}
	.editor-styles-wrapper .edit-post-visual-editor__post-title-wrapper {
		margin-top: 0 !important;
	}
	.container-hero {
		z-index: 1 !important;
	}
	.block-editor-block-navigation__item-button:focus:not(:disabled):not([aria-disabled=true]), .bws_shortcode_button_tooltip {
		outline: none;
	}
	
	.block-editor-inserter__menu.has-help-panel {
		width: 400px;
	}
	
	.components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled=true]) {
		outline: none;
	}
	.wp-block {
		max-width: 100%;
	}
	.editor-styles-wrapper [data-block] {
		margin-top: 0;
		margin-bottom: 0;
	}
	.edit-post-sidebar {
		.components-panel__body-toggle.components-button:focus:not(:disabled):not([aria-disabled=true]) {
			box-shadow: none !important;
		}
	}
	.wp-block.is-selected .acf-block-fields {
		background-color: #f7f7f7;
	}
	.edit-post-meta-boxes-area {
		#poststuff h2.hndle {
			font-weight: 300;
			font-size: 13px;
			padding: 8px 16px;
			color: #1e1e1e;
		}
		.postbox-header .handle-actions {
			margin-right: 8px;
		}
		.meta-box-sortables .postbox .toggle-indicator::before {
			content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='components-panel__arrow' role='img' aria-hidden='true' focusable='false'%3E%3Cpath d='M17.5 11.6L12 16l-5.5-4.4.9-1.2L12 14l4.5-3.6 1 1.2z'%3E%3C/path%3E%3C/svg%3E") !important;
		}
		.meta-box-sortables .postbox .handlediv[aria-expanded="true"] {
			.toggle-indicator::before {
				content: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' class='components-panel__arrow' role='img' aria-hidden='true' focusable='false'%3E%3Cpath d='M6.5 12.4L12 8l5.5 4.4-.9 1.2L12 10l-4.5 3.6-1-1.2z'%3E%3C/path%3E%3C/svg%3E") !important;
			}
		}
		.handlediv:focus {
			box-shadow: none;
			outline: none;
		}
	}
	.block-editor .edit-post-sidebar .acf-postbox:first-child > .postbox-header {
		border-top: none !important;
	}
	#editor .postbox > .postbox-header .handle-actions .acf-hndle-cog, #editor .postbox > .postbox-header .handle-actions .handle-order-higher, #editor .postbox > .postbox-header .handle-actions .handle-order-lower {
		display: none;
	}
	.block-editor-block-toolbar {
		button[aria-label='Align'] {
			display: none; 
		}
	}
	.block-editor-block-list__layout.is-root-container .acf-block-preview {

		@import "theme"; 
		
		font-family: $font-family-base;
		
		& {
			font-size: 1rem;
		}
		.edit-post-visual-editor {
			padding-top: 30px;
		}
		
	}
	
	// Tribe Events Calendar
	.tribe-editor__subtitle__footer-upsell {
		display: none;
	}
	
	.hero-banner-single {
		.hero-heading {
			display: none;
		}
	}
}